    <% if (loaded) { %>
        <td>
            <a href="/leagues/espn/<%=espn_id %>/<%=year %>/"><%=name %> <%=year %>  </a>
        </td>
        <td>
            <%= lineups_scrape_finish_time %> <div class="calculated">Last Calculated <%= league_loaded_finish_time %></div>
        </td>
    <% } else if (failed) { %>
        <td>
            Failed: <%=name %> <%=year %>
        </td>
    <% } else if (!loading) { %>
        <td>
            <span class="queued">Queued To Load: <%=name %> <%=year %></span>
        </td>
    <% } else { %>
        <td>
            <% if (year === '2014') { %>
              <% if (calculating) { %>
                  Calculating Reports...(about 2 min) <%=name %> <%=year %>
              <% } else { %>
                 Loading: <%=name %> <%=year %>  Scraped: <%= pages_scraped %> Total: <%= total_pages %>
                <div class="progress">
                    <div class="progress-bar" style="width: <%= percent_done %>%;"> </div>
                </div>
              <% } %>
            <% } else { %>
              <li>Loading: <%=name %> <%=year %></li>
              <img class="league_loading_spinner" src="/static/ajax-loader.gif"/>
              Legacy leagues can take 5-10 minutes to load
           <% } %>
        </td>
    <% } %>
