    <% if (loaded) { %>
       <a href="league2/<%=espn_id %>/<%=year %>/"><li><%=name %> <%=year %></li></a>
    <% } else if (!failed) { %>
       <li class="failed">Failed: <%=name %> <%=year %></li>
    <% } else if (!loading) { %>
       <li class="queued">Queued To Load: <%=name %> <%=year %></li>
    <% } else { %>
            <% if (year === '2014') { %>
              <li>Loading: <%=name %> <%=year %>  Scraped: <%= pages_scraped %> Total: <%= total_pages %></li>
              <div class="progress">
                  <div class="progress-bar" style="width: <%= percent_done %>%;"> </div>
              </div>
            <% } else { %>
              <li>Loading: <%=name %> <%=year %></li>
              <img class="league_loading_spinner" src="/static/ajax-loader.gif"/>
              Legacy leagues can take 5-10 minutes to load
           <% } %>
    <% } %>
